@font-face {
  font-family: 'Quicksand';
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
}
.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  color: #2E3333;
    font-family: 'Quicksand', serif;
}

.App-header {
  background-color: #F9FCFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2E3333;
}

.App-link {
  color: #61dafb;
}

a, li, ul{
  list-style: none;
  text-decoration: none;
}
.body{
  flex:1;
}
.base{
  font-size: 16px;
  font-weight: 500;
}

.xl{
  font-size:20px;
  font-weight: 700;
}
.lg{
  font-size: 18px;
  font-weight: 500;
}
.xs{
  font-weight: 500;
  font-size: 12px;
}